:root {
--token-5ac68c20-3c7f-4a25-96b2-45ac93994a64: #EBEBEB;
--token-6937db74-f656-4a77-801a-03dcd82b140b: #0F0F1A;
--a:#CBB26A;
--a:#d8c690;
--a:#be9e44;
--a:#1a1a1a;
/* ------------------ */
--back:#d9c1aa;
--letter: #b17a50;
--letter: #9e8b79;
--back: #e5d9b6;
}